.shopped {
    background-color: rgb(255, 166, 0);
    border: 1px solid black;
}

.notShopped {
    background-color: rgb(0, 255, 213);
    border: 1px solid black;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

@media screen and (min-width:320px) {
    /* for screens that are at least 320 pixels wide */
    .addButton {
        color: plum !important;
    }
    
    .addButton:hover {
        color: green !important;
    }
    
    .deleteButton {
        color: plum !important;
    }
    
    .deleteButton:hover {
        color: green !important;
    }

    .addItemBtn {
        font-size: large !important;
        border: 1px solid black !important;
        background-color: lavender !important;
    }

    .listBody {
        background-image: url("../../images/grocery_shopping_image.jpg");
        background-size: cover;
        background-position: center;
        min-height: 76vh;
        padding: 20px;
    }

    .listContainer {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 5px;
    }

}

/* <button class="MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary" tabindex="0" type="button"><span class="MuiButton-label"> Add Item to your List<span class="addButton"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus-square" class="svg-inline--fa fa-plus-square fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-32 252c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92H92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path></svg></span></span><span class="MuiTouchRipple-root"></span></button> */

.addButton {
    color: plum !important;
}

.addButton:hover {
    color: green !important;
}

.deleteButton {
    color: plum !important;
}

.deleteButton:hover {
    color: green !important;
}

.addItemBtn {
    font-size: large !important;
    border: 1px solid black !important;
}

